# -----------------------------
# Secrets / credentials
# -----------------------------
config.py
.env
.venv
env
venv

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS / editor junk
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/


